#container
  #barCode
    img(src="http://www.hascode.com/wp-content/uploads/2010/05/qr-code-inverted-error.png")
  #content  
    .location#from
      .code DEV
      .city Development
    .location#plane
      hr
      span.ion-plane
    .location#to
      .code PROD
      .city Production
    hr.lineOne
    #info
      .col1
        .greyTxt PROJECT
        .specifics brie/quick-response-code
      .col2
        .greyTxt PIPELINE #
        .specifics PIPELINE_ID

    hr.lineTwo
    #boarding
      .title STARTING
      .boardInfo START_TIME
      .icon
        span.ion-ios-printer