@mixin center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)

$primColor: #df3a3a
$backColor: #e25050

body
  background: $backColor

#container
  font-family: "Roboto", sans-serif
  overflow: hidden
  border-radius: 10px
  width: 650px
  height: 250px
  background: white
  @include center
  #barCode
    float: left
    width: 225px
    height: 250px
    position: relative
    background: black
    img
      @include center
      height: 175px
      width: 175px
  #content
    width: 425px
    height: 250px
    float: right
    position: relative
    background: white
    .location
      height: 50px
      top: 15px
      color: $primColor
      position: absolute
      .code
        font-size: 55px
        font-weight: 700
      .city
        font-size: 13px
    #to
      right: 50px
    #from
      left: 50px
    #plane
      hr
        position: absolute
        top: 3px
        border-top: 1px solid #cccccc
      left: 167px
      font-size: 40px
      top: 24px
      text-align: left
      width: 90px
   
@keyframes plane
  0%
    left: 0
  100%
    left: 30px
      
span.ion-plane
  background: white
  display: inline-block
  position: relative
  transform: rotate(90deg)
  animation: plane 1.5s infinite 
  
hr
  border: none
  border-top: 1px dashed #cccccc
  color: #fff
  background-color: #fff
  height: 1px
  width: 100%

#info
  height: 70px
  width: 425px
  top: 120px
  position: absolute
  .col1
    left: 20px
    top: 10px
    position: absolute
  .col2
    left: 300px
    top: 10px
    position: absolute
  .col3
    left: 350px
    position: absolute
    top: 10px
  .col4
    right: 70px
    position: absolute
    top: 10px
  
.lineOne
  position: absolute
  top: 105px

.lineTwo
  position: absolute
  top: 180px
  
.greyTxt
  color: #AFAFAF
  font-size: 12px
 
.specifics
  font-weight: 700
  position: relative
  top: 10px
  
#boarding
  position: absolute
  bottom: 0px
  width: 465px
  height: 60px
  line-height: 60px
  font-weight: 700
  padding-left: 30px
  padding-right: 30px
  .title
    color: #AFAFAF
    position: absolute
  .boardInfo
    position: absolute
    left: 150px
    color: black
  .icon
    cursor: pointer
    position: absolute
    right: 60px
    font-size: 30px
    color: #AFAFAF